.popup__input {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin-bottom: 30px;
    outline: none;
    padding-bottom: 13px;
}      

.popup__input:last-of-type {
    margin-bottom: 48px;
}

.popup__input:focus {
    border: 1px solid rgba(0, 0, 0, .2);
}