.elements__button_active {
    background-image: url(../../../../images/like_black.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 19px;
    width: 22px;
    border: none;
    background-color: #ffffff;
}